*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 100%;
    height: 400vh;
    background-color: aquamarine;
}
.mininav{
    background-color: azure;
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* position: sticky; */
}
.navmain{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: black;
    /* position:absolute; */
    /* top: 0%; */
    /* background-color: aqua */
}
.categories{
    display: flex;
    /* width: 50%; */
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.navlogo img{
    height: 40px;
    width: 40px;
}
.catlist ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.cl{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.content{
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.content p{
    font-weight: 20px;
    font-size: large;
}
.rcontent{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.rc{
    width: 90px;
    height: 90px;
    background-color: aqua;
    border-radius: 50%;
    border: thin black;
}
.rc p{
    font-size: small;
    position: r;
}